<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <logger name="SysRFLogger">
      <level value="DEBUG" />
      <appender-ref ref="SysRFAppender" />
    </logger>
    <logger name="OperInfoLogger">
      <level value="DEBUG" />
      <appender-ref ref="OperInfoAppender" />
    </logger>
    <logger name="TaskResultLogger">
      <level value="DEBUG" />
      <appender-ref ref="TaskResultAppender" />
    </logger>
    <logger name="TaskLogDetailLogger">
      <level value="DEBUG" />
      <appender-ref ref="TaskLogDetailAppender" />
    </logger>
    <appender name="SysRFAppender" type="log4net.Appender.RollingFileAppender">
      <file value="syslog_.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <preserveLogFileNameExtension value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="OperInfoAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.30319.18020, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <commandText value="INSERT INTO LOG_USEROPERLOG ([ID],[Date],[User],[Flag],[OperInfo],[OperFlag],[OperResult],[Message]) VALUES (@Id,@log_date, @user, @flag, @operinfo,@operflag, @operresult, @message)" />
      <parameter>
        <parameterName value="@Id" />
        <dbType value="String" />
        <size value="36" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{ID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@user" />
        <dbType value="String" />
        <size value="64" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{User}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@flag" />
        <dbType value="Int32" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{Flag}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@operinfo" />
        <dbType value="String" />
        <size value="255" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{OperInfo}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@operflag" />
        <dbType value="String" />
        <size value="32" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{OperFlag}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@operresult" />
        <dbType value="String" />
        <size value="255" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{OperResult}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{Message}"/>
        </layout>
      </parameter>
    </appender>
    <appender name="TaskResultAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.30319.18020, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <commandText value="INSERT INTO TASK_RESULT(ID, TASKID, URL, RESULTINFO, CREATEDTIME, CREATOR, CREATORID, UPDATEDTIME, UPDATOR, UPDATORID) VALUES (@ID, @TaskID, @Url, @ResultInfo, @CreatedTime, @Creator, @CreatorID, @UpdatedTime, @Updator, @UpdatorID)" />
      <!--(@ID, @TaskID, @Url, @ResultInfo, @CreatedTime, @Creator, @CreatorID, @UpdatedTime, @Updator, @UpdatorID)-->
      <parameter>
        <parameterName value="@ID" />
        <dbType value="String" />
        <size value="36" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{Id}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@TaskID" />
        <dbType value="String" />
        <size value="36" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{TaskId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Url" />
        <dbType value="String" />
        <size value="256" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{Url}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ResultInfo" />
        <dbType value="String" />
        <size value="400000" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{ResultInfo}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@CreatedTime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Creator" />
        <dbType value="String" />
        <size value="32" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{Creator}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@CreatorID" />
        <dbType value="String" />
        <size value="36" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{CreatorId}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UpdatedTime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Updator" />
        <dbType value="String" />
        <size value="32" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{Updator}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UpdatorID" />
        <dbType value="String" />
        <size value="36" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{UpdatorId}"/>
        </layout>
      </parameter>
    </appender>
    <appender name="TaskLogDetailAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.30319.18020, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <commandText value="INSERT INTO [Task_LogDetail]([ID],[TaskLogID],[MyTotalPrice],[LowestTotalPrice],[LowTotalPrice],[MySalePrice],[MyRebate],[MyFloating],[LowestSalePrice],[LowestRebate],[LowestFloating],[LowSalePrice],[LowRebate],[LowFloating],[MyFreightType],[LowestFreightType],[LowFreightType],[CreatedTime],[Creator],[CreatorID],[UpdatedTime],[Updator],[UpdatorID],[Cost],[LossMax])
     VALUES(@ID, @TaskLogID, @MyTotalPrice, @LowestTotalPrice, @LowTotalPrice, @MySalePrice, @MyRebate, @MyFloating, @LowestSalePrice, @LowestRebate, @LowestFloating, @LowSalePrice, @LowRebate, @LowFloating, @MyFreightType, @LowestFreightType, @LowFreightType, @CreatedTime, @Creator, @CreatorID, @UpdatedTime, @Updator, @UpdatorID, @Cost, @LossMax)" />
      <parameter>
        <parameterName value="@ID" />
        <dbType value="String" />
        <size value="36" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{ID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@TaskLogID" />
        <dbType value="String" />
        <size value="36" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{TaskLogID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@MyTotalPrice" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{MyTotalPrice}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowestTotalPrice" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowestTotalPrice}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowTotalPrice" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowTotalPrice}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@MySalePrice" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{MySalePrice}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@MyRebate" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{MyRebate}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@MyFloating" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{MyFloating}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowestSalePrice" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowestSalePrice}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowestRebate" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowestRebate}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowestFloating" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowestFloating}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowSalePrice" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowSalePrice}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowRebate" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowRebate}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowFloating" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowFloating}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@MyFreightType" />
        <dbType value="String" />
        <size value="64" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{MyFreightType}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowestFreightType" />
        <dbType value="String" />
        <size value="64" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowestFreightType}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LowFreightType" />
        <dbType value="String" />
        <size value="64" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LowFreightType}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@CreatedTime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Creator" />
        <dbType value="String" />
        <size value="32" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{Creator}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@CreatorID" />
        <dbType value="String" />
        <size value="36" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{CreatorID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UpdatedTime" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@Updator" />
        <dbType value="String" />
        <size value="32" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{Updator}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@UpdatorID" />
        <dbType value="String" />
        <size value="36" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{UpdatorID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Cost" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{Cost}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LossMax" />
        <dbType value="String" />
        <size value="16" />
        <layout type="NT.TestDemo.Log.Layout.UserOperLayOut,NT.TestDemo.Log">
          <param name="ConversionPattern" value="%property{LossMax}"/>
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="SysRFAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="Connection" value="HdPJGcXlmojEuX7JjSW4ceDMV2udjWP5mwsW4AdXgP533A6hzv9t/jsbD6xj9Ouh1JZg46Wq6ynAjGgWy6W+t13BobIdVnEiT4rLNxkNHMcRsRES+z6N/KgbbLUXmHbFHsEIiHbGUNmwOvQghjR3V52neXCw4r5HQgrVoreml3o=" />
    <add key="log4net.Internal.Debug" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
  </connectionStrings>
</configuration>
