<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <logger name="SysRFLogger">
      <level value="DEBUG" />
      <appender-ref ref="SysRFAppender" />
    </logger>
    <logger name="DebugRFLogger">
      <level value="DEBUG" />
      <appender-ref ref="DebugAppender" />
    </logger>
    <logger name="MsgLogger">
      <level value="DEBUG" />
      <appender-ref ref="MsgAppender" />
    </logger>
    <appender name="SysRFAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\syslog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <preserveLogFileNameExtension value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\sysDebuglog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <preserveLogFileNameExtension value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="MsgAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Messagelog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <preserveLogFileNameExtension value="true" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="SysRFAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--Local-->
    <add key="Connection" value="" />
    <!--Publish-->
    <!--<add key="Connection" value="" />-->
    <add key="log4net.Internal.Debug" value="false" />
  </appSettings>
</configuration>