<?xml version="1.0" encoding="utf-8" ?>
<TaskInformation>
  <Task name="baidu" id="8c667e69-e3c3-4008-be1d-869398db7bd4">
    <AC value="Account"/>
    <PW value="pwd"/>
    <LU value="http://pan.baidu.com"/>
    <VCAS value="true"/>
    <VCU value="http://vicifaction.baidu.com"/>
  </Task>
  <Task name="google" id="0a69c704-956f-4925-b3c7-378dfab5d88b">
    <AC value="googlecn"/>
    <PW value="gmail"/>
    <LU value="http://www.google.com"/>
    <VCAS value="true"/>
    <VCU value="http://vicifaction.google.com"/>
  </Task>
</TaskInformation>
  