<?xml version="1.0" encoding="utf-8" ?>
<TaskInformation>
  <Task name="baidu" id="8c667e69-e3c3-4008-be1d-869398db7bd4">
    <AC value="Account"/>
    <PW value="pwd"/>
    <LU value="http://pan.baidu.com"/>
    <VCAS value="true"/>
    <VCU value="http://vicifaction.baidu.com"/>
  </Task>
  <Task name="google" id="0a69c704-956f-4925-b3c7-378dfab5d88b">
    <AC value="googlecn"/>
    <PW value="gmail"/>
    <LU value="http://www.google.com"/>
    <VCAS value="true"/>
    <VCU value="http://vicifaction.google.com"/>
  </Task>
  <Task name="iplaysoft" id="7375fca7-6e3e-4158-acda-4a5070dffbe4">
    <AC value="iplaysoft"/>
    <PW value=""/>
    <LU value="http://www.iplaysoft.com"/>
    <VCAS value="false"/>
    <VCU value="http://vicifaction.iplaysoft.com"/>
  </Task>
  <Task name="SichuanAir" id="A66F439A-DF54-45ED-85E5-D1099DD66250">
    <AC value="SichuanAir"/>
    <PW value=""/>
    <LU value="http://www.scal.com.cn/Web/Account/SignIn"/>
    <VCAS value="true"/>
    <VCU value="http://www.scal.com.cn/Web/Base/GetVerifyCode/1"/>
    <LSTU value="http://www.scal.com.cn/Web/Reservation?type=single"/>
    <LSC value="http://www.scal.com.cn/Web/"/>
    <CCS value="true"/>
  </Task>
</TaskInformation>
  