<?xml version="1.0" encoding="utf-8" ?>
<TaskInformation>
  <Task name="baidu" id="8c667e69-e3c3-4008-be1d-869398db7bd4">
    <Account value=""/>
    <Password value=""/>
    <LoginUrl value="http://pan.baidu.com"/>
    <VerificationCode value=""/>
    <VerificationCodeUrl value=""/>
    <LoginVerication value=""/>
  </Task>
</TaskInformation>
  